sparky-data-pipeline/data/
.env
sparky-data-pipeline/.CHI-251409-openrc.sh
.CHI-251409-openrc.sh
.data
.output
.venv
.venv-sparky
.venv-sparky-ingest
.venv-sparky-generate
.venv-sparky-online-demo
.venv-sparky-batch
.venv-sparky-all
.venv-sparky-teardown
.venv-sparky-setup
.venv-sparky-build
.venv-sparky-clean
.venv-sparky-enrich
.venv-sparky-ingest-to-object-store
.venv-sparky-generate-training-table
.venv-sparky-ingest-to-object-store-batch
.venv-sparky-generate-training-table-batch
.venv-sparky-online-feature-demo
.venv-sparky-ingest-to-object-store-online-demo
.venv-sparky-generate-training-table-online-demo
sparky-data-pipeline/data/
